In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("Features.csv")

In [7]:
X_cols = [
"Energy_Demand_MWh",
"Emission_Allowance_tCO2",
"Carbon_Price_USD_per_t",
"Emission_Intensity",
"Fuel_Type_Mixed Fuel",
"Fuel_Type_Natural Gas",
"Fuel_Type_Renewable",
"Industry_Type_Energy",
"Industry_Type_Manufacturing",
"Industry_Type_Steel"
]

for i in X_cols:
    print(df[i].min(), df[i].max())

-1.7427560782541691 1.7535763264002124
-1.9451240144246849 3.206098304778106
-1.7449860402449582 1.7288719708840008
-1.7259342934407764 1.729787785052616
-0.5755027435909617 1.7376111775945755
-0.5868964406992128 1.7038781131618834
-0.5767344287272242 1.733900301750437
-0.574578971896348 1.7404047988383335
-0.5918247618546063 1.6896893547784169
-0.5755027435909617 1.7376111775945755

In [8]:
for i in X_cols:
    print(df[i].mean(), df[i].std())

-3.907985046680551e-17 1.0001000150025003
-1.6768808563938364e-16 1.0001000150025003
-2.2737367544323206e-16 1.0001000150025003
-5.0448534238967116e-17 1.0001000150025003
3.836930773104541e-17 1.0001000150025003
1.1795009413617663e-16 1.0001000150025003
-2.842170943040401e-18 1.0001000150025006
-6.465938895416912e-17 1.0001000150025003
-1.2079226507921704e-16 1.0001000150025003
3.1974423109204506e-17 1.0001000150025003

In [9]:
df.describe().loc[["mean", "std"]]

,Energy_Demand_MWh,Emission_Produced_tCO2,Emission_Allowance_tCO2,Carbon_Price_USD_per_t,Transaction_Type,Credits_Traded_tCO2,Verification_Status,Compliance_Cost_USD,Carbon_Cost_Savings_USD,Target_Trade_Action,...,Fuel_Type_Natural Gas,Fuel_Type_Renewable,Industry_Type_Energy,Industry_Type_Manufacturing,Industry_Type_Steel,Optimization_Scenario_Low_Demand,Optimization_Scenario_Price_Surge,year,month,day
mean,-3.907985e-17,-2.430056e-16,-1.676881e-16,-2.273737e-16,2.700062e-17,-6.821210e-17,-1.080025e-16,1.264766e-16,-1.024958e-16,-2.700062e-17,...,1.179501e-16,-2.842171e-18,-6.465939e-17,-1.207923e-16,3.197442e-17,-6.821210e-17,-1.634248e-17,2024.486400,6.565400,15.750400
std,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,...,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,0.499865,3.442048,8.802999